.agent .task {
    color:blue;
    padding:0.1em 1em;
    font-size:1em;
    margin-bottom: 0.5em;
}

.task .task-definition {
    display: inline-block;
    vertical-align: middle;
}

.task .status-icon {
    width:1.25em;
    height:1.25em;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1em;
}

.task.running .status-icon {
    background-color: lightgreen;
}

.task.pending .status-icon {
    background-color: orange;
    animation: blink-animation 1s steps(5, start) infinite;
}

.task.stopped .status-icon {
    background-color: darkred;
}

.agent-info .agent-icon,
.agent-info .instanceid {
    vertical-align: middle;
}

.agent-info .agent-icon {
    cursor:pointer;
}

.agent .task-count {
    display: block;
    margin: 0.25em 0;
    text-align: right;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
