.no-churns-icon, .healthy {
    color:green;
}

.unhealthy {
    color: red;
}

.service-task-churn dl {
    margin: 0;
    margin-top: 0.88em;
}

.churn-entry dd {
    display:inline-block;
    margin-left:1em;
}

.churn-entry dt {
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltipped {
    cursor:pointer;
}