.service-overview-entry .thumb_up {
    color: green;
}

.service-overview-entry .warning {
    color:darkorange;
}

.service-overview-entry .service-name {
    overflow: hidden;
    white-space: nowrap;
    max-width: 2em;
    text-overflow: ellipsis;
}

.service-overview-entry .metricstat .number {
    font-size: inherit;
}