body {
  background:#fcfcfc;
}

.nav-and-body-wrapper {
  display:flex;
}

.page-body {
  flex: 2;
  padding:0 2em;
}

.card-header {
  font-size:1.25em;
}

.slimmer-table .count {
    font-size:1.25em;
    text-align: right;
}

.slimmer-table th {
    padding:1em 0.25em;
}

.slimmer-table td {
    padding: 0.25em;
}

.component-fadein-appear {
  opacity: 0.01;  
}

.component-fadein-appear.component-fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.component-panel .progress {
    margin: 3em 0;
}

/*
  NProgress overrides
*/
#nprogress .bar {
  background:darkorange;
}

#nprogress .peg {
  box-shadow: 0 0 10px darkorange, 0 0 5px darkorange;
}